.item {
    font-family: 'roboto';
    list-style: none;
}

/* .main_container {
    border: solid black 1px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px;
    border-radius: 10px;
    background-color: lightgrey;
}

.phonebook {
    width: 200px;
    height: 120px;
    border: solid black 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightslategray;

}

.label {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.button {
    margin-top: 10px;
}

.input {
    margin-top: 10px;
}

.btn_delete {
    font-family: 'roboto';
    padding: 3px 10px;
    background-color: lightcoral;
    border: 1px solid lightcoral;
    border-radius: 10px;
}

.btn_delete:active {
    background-color: azure;
}